@charset "UTF-8";
/* ------------------------------------------------ */
@font-face {
  font-family: "Gilroy-Bold ☞";
  font-style: normal;
  font-weight: normal;
  src: local("Gilroy-Bold ☞"), url("../font/Gilroy-Bold.woff") format("woff");
}
:root {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  background: #444343;
  font-size: 18px;
  font-family: sans-serif;
  color: rgba(0, 0, 0, 0.796);
}

.container {
  max-width: 1110px;
  margin: 0 auto;
  padding: 0 2em;
  background: #ffffff;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: #5b03b9;
}

h1, h2, h3, h4, h5, h6 {
  font-family:  sans-serif;
}

h1 {
  margin: 0.3em 0;
}

h2 {
  margin: 0;
}

h3 {
  margin: 0 0 0.3em 0 ;
}

h4 {
  margin: 0.1em 0;
}

img {
  max-width: 100%;
}

/* ------------------------------------------------ */
section {
 margin: 1em 0 2em 0;
}

section  h3 {
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.645);
  border-radius: 5px 50px;
  padding: 0.2em 1em;
  color: #ffffff;
 }

.section__body {
  margin-left: 1em;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 1em 0;
}

.header__avatar-wrapp {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__avatar {
  background-image: url(../img/avatar.png);
  background-position: center;
  background-size: cover;
  height: 250px;
  width: 250px;
  border-radius: 50%;
}

.contacts {
  width: 65%;
}

.contacts__link {
  display: flex;
  align-items: center;
  margin: 0.6em 0;
}

.contacts__links-icon{
  width: 20px;
  height: 20px;
  margin-right: 0.5em;
}

.contacts__header {
  display: flex;
  justify-content: flex-end;
}