@charset "UTF-8";
/* ------------------------------------------------ */
:root {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  --cloud-color: rgba(151, 216, 249, 0.5);
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  background: #444343;
  font-size: 18px;
  color: rgb(0, 0, 0);
  font-family: 'Mukta', 'Work Sans', sans-serif;
  line-height: 1.2em;
  word-spacing: 0.1em;
}

@media only screen and (max-width: 850px) {
  body {
    font-size: 16px;
  }
}
@media only screen and (max-width: 550px) {
  body {
    font-size: 14px;
  }
}
.container {
  max-width: 1110px;
  margin: 2em auto;
  padding: 0 2em 1em;
  background: #ffffff;
  border-radius: 6px;
}

@media only screen and (max-width: 1200px) {
  .container {
    margin: 0em auto 1em;
  }
}
@media only screen and (max-width: 1110px) {
  .container {
    border-radius: 0 0 6px 6px;
  }
}
@media only screen and (max-width: 750px) {
  .container {
    padding: 1em ;
  }
}
@media only screen and (max-width: 500px) {
  .container {
    padding: 0.5em ;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: #5b03b9;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Mukta', 'Work Sans', sans-serif;
}

h1 {
  margin: 0.3em 0 1em 0;
}

h2 {
  margin: 0;
}

h3 {
  margin: 0 0 0.3em 0 ;
}

h4 {
  margin: 0.1em 0;
}

img {
  max-width: 100%;
}

/* ------------------------------------------------ */
section {
 margin: 1em 0 2em 0;
}

.section__title-wrapp {
  display: flex;
  align-items: flex-end;
  margin-bottom: 0.4em;
}

section  h3 {
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.645);
  border-radius: 5px 50px;
  padding: 0.2em 1em;
  color: #ffffff;
 }

.section__title-line  {
  background-color:  rgba(0, 0, 0, 0.645);
  width: 100%;
  height: 3px;
  margin-bottom: 0.35em;
  margin-left: -0.06em;
 }

.section__body {
  margin-left: 1em;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 1em 0;
}

.header__avatar-wrapp {
  width: 250px;
  margin-right: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__avatar {
  background-image: url(../img/avatar.png);
  background-position: center;
  background-size: cover;
  height: 250px;
  width: 250px;
  border-radius: 50%;
}

.contacts {
  width: 65%;
}

@media only screen and (max-width: 750px) {
  .header {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.5em 0;
  }
  .header__avatar-wrapp {
    margin: 0 0 1em 0;
  }
  .contacts h1 {
    text-align: center;
    margin-bottom: 1em;
  }

  .contacts {
    width: 100%;
  }

  .contacts__title_line {
    display: flex;
  }

  .contacts__title  {
    display: none;
  }
}
@media only screen and (min-width: 750px) {
  .contacts__title_line {
    display: none;
  }

  .contacts__title  {
    display: inline-block;
  }
}

.contacts__link {
  display: flex;
  align-items: center;
  margin: 0.6em 0;
}

.contacts__links-icon{
  width: 20px;
  height: 20px;
  margin-right: 0.5em;
}

.contacts__header {
  display: flex;
  justify-content: flex-end;
}

@media only screen and (max-width: 950px) {
  .contacts__header {
    justify-content: flex-start;
    padding: 0.7em  0;
  }
}
@media only screen and (max-width: 750px) {
  .contacts__header {
    justify-content: center;
    padding: 0.7em  0;
  }
}

.cloud {
  display: flex;
  justify-content: center;
  margin-top: 2em;
}
.cloud__inner {
  position: relative;
  width: 60%;
  background-color: var(--cloud-color);
  padding: 1em;
  border-radius: 0 1em 1em;
}

@media only screen and (max-width: 990px) {
  .cloud__inner {
    width: 70%;
  }
}
@media only screen and (max-width: 750px) {
  .cloud__inner {
    width: 90%;
  }
}
@media only screen and (max-width: 550px) {
  .cloud__inner {
    width: 100%;
  }
}

.cloud__inner:before { 
	content: ' '; 
	position: absolute; 
	width: 0; 
	height: 0; 
	left: 0px; 
	top: -30px; 
	border: 15px solid; 
	border-color:  transparent transparent var(--cloud-color) var(--cloud-color); 
}

.skills {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 2em 0;
  margin-top: 1em;
}

.skills__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.skills__icon {
  width: 70px;
  height: 70px;
  display: flex;
  margin-bottom: 1em;
}

.skills__title {
  font-size: 1.1em;
  font-weight: 600;
}

@media only screen and (max-width: 950px) {
  .skills__icon {
    width: 50px;
    height: 50px;
    margin-bottom: 0.6em;
  }
  
  .skills__title {
    font-size: 1em;
  }
}
@media only screen and (max-width: 850px) {
  .skills {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1em 0;
  }
}

@media only screen and (max-width: 570px) {
  .skills {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em 0;
  }
}
@media only screen and (max-width: 420px) {
  .skills__title {
    font-size: 1em;
  }
}

.experience {
  display: grid;
  grid-template-columns: 6em 1em 1fr;
  grid-gap: 0 2em ;
  position: relative;
}

.experience__date {
  font-weight: 600;
}

.experience__item {
  margin-bottom: 1em;
}

.experience__line {
  position: absolute;
  top: 0;
  left: 8.26em;
  height: 100%;
  width: 0.277em;
  background-color: #03b924;
}

.experience__line-item {
  background-color: #03b924;
  width: 0.83em;
  height: 0.83em;
  border-radius: 50%;
  margin-top: 0.10em;
} 

@media only screen and (max-width: 700px) {
  .experience {
    grid-template-columns: 5em 1em 1fr;
    grid-gap: 0 1em ;
  }
  .experience__line {
    left: 6.26em;
  }
}

.education__items {
  margin-top: 0.3em;
}