@charset "UTF-8";
/* ------------------------------------------------ */
@font-face {
  font-family: "Gilroy-Bold ☞";
  font-style: normal;
  font-weight: normal;
  src: local("Gilroy-Bold ☞"), url("../font/Gilroy-Bold.woff") format("woff");
}
@font-face {
  font-family: "Gilroy-Medium ☞";
  font-style: normal;
  font-weight: normal;
  src: local("Gilroy-Medium ☞"), url("../font/Gilroy-Medium.woff") format("woff");
}
:root {
  --color-bg: #E5E5E5;
  --color-body-text: rgba(0, 0, 0, 0.5);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  background: var(--color-bg);
  font-size: 24px;
  font-family: "Open Sans", sans-serif;
  color: var(--color-body-text);
}

@media only screen and (max-width: 1230px) {
  body {
    font-size: 18px;
  }
}
@media only screen and (max-width: 980px) {
  body {
    font-size: 16px;
  }
}
@media only screen and (max-width: 500px) {
  body {
    font-size: 14px;
  }
}
.wrapper {
  max-width: 1920px;
  margin: 0 auto;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
  padding: 0 1em;
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Oswald", sans-serif;
}

img {
  max-width: 100%;
}

/* ------------------------------------------------ */
body {
  background-color: rgba(7, 7, 7, 0.767);
  display: flex;
  justify-content: center;
}

.img__portfolio {
  width: 20%;
  margin: 15% 5%;
  transition: 0.3s;
}

.img__portfolio:hover {
  transform: scale(1.2);
  cursor: pointer;
}